@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, #08aeea, #2af598);
  padding: 1rem;
}

.to-do__app {
  width: 100%;
  max-width: 54rem;
  background: #fff;
  margin: 10rem auto 2rem;
  padding: 4rem 3rem 7rem;
  border-radius: 11px;
}

.to-do__app h2 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 600;
  color: #2d3047;
  margin-bottom: 2.4rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 100px;
  padding-left: 2rem;
  margin-bottom: 2.5rem;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
}

.row button {
  border: none;
  outline: none;
  padding: 1.6rem 5.6rem;
  background-color: #c04abc;
  color: #fff;
  border-radius: 100px;
  font-size: 1.6rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  font-size: 1.8rem;
  padding: 1.2rem 0.8rem 1.2rem 5rem;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: 1px solid #333;
  top: 1.2rem;
  left: 0.8rem;
}

ul li.checked {
  color: #ffdbb5;
  text-decoration: line-through;
}

ul li.checked::before {
  background-color: #c04abc;
  border: 1px solid transparent;
}

ul li span {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

@media screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
